body {
    width: 400px;
    /* min-height: 400px; */
    margin: 0;
    padding: 0;
    /* background: #3c3c3c;
    color: #ffffff; */
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.clearfix {
    *zoom: 1;
}

header {
    height: 80px;
    line-height: 40px;
    /* background: #1b1b1b;
    color: #ffffff; */
    /* background: #d0d0d0;
    color: #929292; */
    background: #404040;
    color: #929292;
}

header .logo-block {
    font: 100 24px helvetica neue,open sans,sans-serif;
    /* color: #aeaeae; */
    color: #929292;
    line-height: 40px;
    height: 40px;
    text-indent: 10px;

    position: relative;
}

header .logo-block .span-1 {
    position: absolute;
    top: -8px;
    left: -10px;
}

header .logo-block .span-2 {
    position: absolute;
    bottom: -3px;
    left: 87px;

    color: #656565;
}

header nav {
    display: flex;
}

header nav span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    position: relative;
}

header nav span:hover {
    /* color: #f7b1b1; */
    /* color: #3d3d3d; */
    color: #ff8283;
}

header nav span.active {
    /* color: #f7b1b1; */
    /* color: #3d3d3d; */
    color: #ff8283;
}

header nav span.active:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #ff8283;
    position: absolute;
    bottom: 0;
}

input, textarea, select, button {
    outline:none;
}

.tab-block-1 .users-block {
    max-height: 330px;
    overflow-x: auto;
}

.tab-block-1 .u_name {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
    margin: 5px 10px;
    float: left;
    border-bottom: 1px solid #e6e6e6;
}

.tab-block-1 .u_name:hover {
    color: #ff8383;
}

.tab-block-1 .u_name.active {
    /* background: #ff8383; */
}

.tab-block-1 .u_name.active:hover {
    /* color: #ffffff; */
}

.tab-block-1 .exit {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
    margin: 5px 10px;
}

.tab-block-1 .exit:hover {
    color: #ff8383;
}

.tab-block-1 form {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #dddddd;
    /* background: #f1f1f1; */
    /* background: #ffffff; */
    background: #f5f5f5;
    padding-bottom: 20px;
    color: #333333;
}

.tab-block-1 form input {
    background: #f5f5f5;
    border: 1px solid #a2a2a2;
}

.tab-block-1 form .button {
    margin-top: 20px;
}

.tab-block-2 {
    display: none;
}

.tab-block-2 .button-group {
    text-align: center;
    /* background: #f1f1f1; */
    /* background: #ffffff; */
    background: #f5f5f5;
    padding: 20px 0;
    color: #333333;
    border-top: 1px solid #dddddd;
}

.tab-block-2 .button-group .form-group {
    margin-top: 20px;
}

.tab-block-2 .button-group .form-group select {
    height: 25px;
}

.tab-block-2 .button-group .form-group p {
    color: #848484;
}

.tab-block-2 .button-group .button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.tab-block-3 .virtual-form {
    border: 1px dashed #8a8a8a;
    margin: 20px;
    padding: 20px;
    /* flex: 1; */
    width: 50px;
    text-align: center;
    color: #8a8a8a;
    float: left;
    cursor: pointer;
}

.button {
    border: 1px solid #ff8383;
    width: 80px;
    display: block;
    height: 30px;
    background: #ff8383;
    margin: auto;
    /* margin-top: 20px; */
    color: #ffffff;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}

input {
    height: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.alert {
    position: fixed;
    top: -40px;
    width: 100%;
    height: 40px;

    text-align: center;
    color: #ffffff;
    transition: all .5s;
    /* top: 0; */
}

.alert-active {
    top: 0;
}

.alert-success {
    background: #f78283;
}


#analyse-form label {
    width: 100px;
    display: inline-block;
    text-align: center;
}

#analyse-form input {
    margin-right: 10px;
    width: 82px;
}

#analyse-form {
    padding: 15px;
    overflow-y: auto;
    max-height: 332px;
}

#analyse-form .form-group {
    color: #ffffff;
    /* margin-top: 20px; */
}
